# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
ENV/

# Logs & evidence
ids_alerts.log
evidence/
out/
logs/   # <-- חשוב: הוספת כל תיקיית הלוגים

# OS/Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
